<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
</head>
<body>
  <h1>Welcome!</h1>
    <div align = "center">
        <h2>Registration</h2>
        <form action="{% url 'login:register' %}" method='post'>
            {% csrf_token %}
            <label>First Name:</label>
            <input type="text" name='first_name'><br>
            <label>Last Name:</label>
            <input type="text" name='last_name'><br>
            <label>Email:</label>
            <input type="text" name='email'><br>
            <label>Password:</label>
            <input type="password" name='password'><br>
            <label>Confirm Password:</label>
            <input type="password" name='pwconfirm'><br>
            <input type="submit" class='pagebutton' value='Register'>
        </form>
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
        <h2>Login</h2>
        <form action="{% url 'login:login' %}" method='post'>
            {% csrf_token %}
            <label>Email:</label>
            <input type="text" name='email'><br>
            <label>Password:</label>
            <input type="password" name='password'><br>
            <input type="submit" class='pagebutton' value='Login'>
        </form>
    </div>
</body>
</html>
