<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Add new trip</title>
<div align="center">
  </head>
  <body>
<h2>Add a trip</h2>
<form  action="{% url 'travel:create' %}" method="post">
  {% csrf_token %}
  <label>Destination: </label><input type="text" name="dest" value="">
  <label>Description: </label><input type="text" name="descript" value="">
  <label>Travel Date From: </label><input type="date" name="date_from" value="">
  <label>Travel Date To: </label><input type="date" name="date_to" value="">
<input type="submit" name="submit" value="Add Trip">

</form>
{%if messages%}
{{messages.error}}
<p>{%for error in messages%}</p><br>
{{error}}
{%endfor%}
{%endif%}

  <a href="{% url 'travel:index' %}">Home</a>
  <a href="{% url 'login:logout'%}">Logout</a>
</div>
  </body>
</html>
